<div class="container">
	<div>
		<h1>Drink Library </h1>
	</div>

	<form class="form-horizontal" novalidate>
	  <div class="form-group">
	    <label for="name">beverageName</label>
	    <input type="text" class="form-control" id="drinkName" placeholder="beverage name" ng-model="defaultForm.beverageName">
	  </div>
	 
	  <div class="form-group">
	    <label for="caffeine-level">caffeine-level</label>
	    <input type="text" class="form-control" id="caffeine-level" placeholder="caffeine-level" ng-model="defaultForm.caffeineLevel">
	  </div>


	  <div class="form-group input-group">

	  	<input  class="form-control" id="date" placeholder="date" ng-model="defaultForm.date" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"  date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
       </span>
	  	
	  </div>

	  <button type="submit" class="btn btn-default" ng-click="drinkList(defaultForm)">Submit</button>
	</form>
	<div class="row">
	<div class="table-responsive col-sm-6">
			<table class="table table hover">
			<thead>
				<tr>
					<th>Beverage</th>
					<th>Beverage Date</th>
					<th>Caffeine Amount</th>
					<th>Beverage Description</th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="drink in unEditableDrinkList | orderBy:'-date'|limitTo:10">
					<td>[[drink.name]]</td>
					<td>[[drink.date |date: format :timezone]]</td>
					<td>[[drink.caffeineLevel]]</td>
					<td>

						<!-- <a ng-click="delete(drink._id)">
							<i style="font-size:18px; margin-right:5%" class="fa fa-times"></i>
						</a> -->

						<a href="" ng-click="update(drink)">
							<i style="font-size:22px;" class="fa fa-pencil-square-o"></i>
						</a>
					</td>
				</tr>
			</tbody>
			
		</table>
		<pagination 
		  ng-model="currentPage"
		  total-items="unEditableDrinkList.length"
		  boundary-links="true">
		</pagination>
			

	</div>

	<div class="table-responsive col-sm-6">
		<table class="table table hover">
			<thead>
				<tr>
					<th>Beverage</th>
					<th>Beverage Date</th>
					<th>Caffeine Amount</th>
					<th>Beverage Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="drink in editableDrinkList | orderBy:'-date'|limitTo:10"> 
					<td>[[drink.name]]</td>
					<td>[[drink.date |date: format :timezone]]</td>
					<td>[[drink.caffeineLevel]]</td>
					<td>
						<a ng-click="delete(drink._id)">
							<i style="font-size:18px; margin-right:5%" class="fa fa-times"></i>
						</a>

						<a href="" ng-click="update(drink)">
							<i style="font-size:22px;" class="fa fa-pencil-square-o"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>

		<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
	

	</div>
	</div>

</div>
