<div class="jumbotron  jumboBackground">
</div>


<div class="row productDescription">
    <div class="col-md-12">
        <h3 class="title mission-title">Monitor Your Intake </h3>
        <p class="description mission"> 
        Caffeine's usefulness is in its ability to restore alertness when unwanted drowsiness and/or tiredness occur. For many it is a necessity to keep up with the responsibilities of work, family, and travel.  However, large amounts effect our ability to sleep and relax.   
        </p>
    </div>
</div>


<div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="description-left"></div>
        <div class="description-right"></div>
    </div>

    <div class="col-md-3"></div>

</div>