<div>
	<h1>Drink Library </h1>
</div>
<form class="form-horizontal">
        <div class="form-group">
          <label for="name">beverageName</label>
          <input type="text" class="form-control" id="drinkName" placeholder="beverage name" ng-model="defaultForm.beverageName">
        </div>
        <div class="form-group">
          <label for="date">date</label>
          <input type="date" class="form-control" id="date" placeholder="date" ng-model="defaultForm.date">
        </div>
        <div class="form-group">
          <label for="caffeine-level">caffeine-level</label>
          <input type="text" class="form-control" id="caffeine-level" placeholder="caffeine-level" ng-model="defaultForm.caffeineLevel">
        </div>
        
        <button type="submit" class="btn btn-default" ng-click="drinkList(defaultForm)">Submit</button>
</form>

<div class="table-responsive">
	<table class="table table hover">
		<thead> 
			<tr>
				<th>Beverage</th>
				<th>Beverage Date</th>
				<th>Caffeine Amount</th>
				<th>Beverage Description</th>
			</tr>
		</thead>	
		<tbody ng-repeat="drink in allDrinkList | orderBy:'-date'">
			<td>[[drink.name]]</td>
			<td>[[drink.date |date: format :timezone]]</td>
			<td>[[drink.caffeineLevel]]</td>
			<td>
				<a ng-click="delete(drink._id)">
					<i style="font-size:18px; margin-right:5%" class="fa fa-times"></i>
				</a>
				<a href="" ng-click="update(drink._id)">
					<i style="font-size:18px;" class="fa fa-pencil-square-o"></i>
				</a> 
				<a href="" ng-click="modalUpdate('lg',drink)"> 
					<i style="font-size:18px;" class="fa fa-pencil-square-o"></i>
				</a>
			</td>
			

		</tbody>
	</table>

</div>


