<div class="container-fluid loginPage">
	<div class="col-md-12 col-xs-12">
	  <h1 class="title">Welcome Back</h1>
	  <div ng-show="error" class="alert alert-danger">[[errorMessage]]</div>
	  <form class="form form-login" ng-submit="login()">
	  	<div class="logo-header"> 
	  		<img src="images/Oval 1 + C + T.png">
	  	</div>
	    <div class="form-group userInput">
	      <label>Username</label>
	      <input type="text" class="form-control input-lg" name="username" ng-model="loginForm.username" required>
	    </div>
	    <div class="form-group userInput">
	      <label>Password</label>
	        <input type="password" class="form-control input-lg" name="password" ng-model="loginForm.password" required>
	      </div>
	      <div class="userInput">
	        <button type="submit" class="btn btn-warning btn-lg btn-block" ng-disabled="disabled">Login</button>
	      </div>
	  </form>
	</div>
</div>