.form-login {
	width: 60%;
	margin:0 auto;
}

.title {
	text-align: center;
	color: #fff;
}


.loginPage {
	font-family: 'Lato',serif;
	color: white;
	background: url('../images/caffeineBeans.png');
	height: 800px


}

.logo-header {
	text-align: center;
}

.logo-header img {
	margin-top: 20px;
}

.form-login {
	background: rgba(73, 137, 180, 0.81);
		/*background: rgba(254, 148, 0, 0.81);*/

}

.userInput {
	width: 80%;
	margin: auto;
	padding: 10px 0;
}
/*height of 800 px will not work on the cell phone view*/