.form-login {
	width: 60%;
	margin:0 auto;
}

.title {
	text-align: center;
	color: #fff;
}


.loginPage {
	font-family: 'Lato',serif;
	color: white;
	background: -moz-linear-gradient(top, #0E7492 0, #FFA64E 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, top, color-stop(0, 0E7492), color-stop(100%, FFA64E));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0E7492 0, #157E8E 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f0b7 0, #b57c12 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7f0b7 0, #b57c12 100%);/* IE10+ */
	background: linear-gradient(top, #FF8105 0, #FFA64E 100%);

}