 body {
  padding-top: 45px;
  font-size: 22px;
  /*font-size: 3.5vw;*/
  font-family: 'Lato',serif;

}


/*searchbox for panel of drinks*/
.box {
	background: #428BE4;
}
.searchBox {
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.searchBox input.searcher {
	width: 300px;
	height: 50px;
	background: #2b303b;
	border: none;
	font-size: 10pt;
	float: left;
	color: #63717f;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;

}

.searchBox input.searcher::-webkit-input-placeholder {
   color: #65737e;
}
 
.searchBox input.searcher:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.searchBox input.searcher::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}

.searchBox .icon {
	position: absolute;
	top:50%;
	margin-left: 17px;
	margin-top: 17px;
	z-index: 1;
	color: #4f5b66;
}

.searchBox input.searcher:hover,.searchBox input.searcher:focus, .searchBox input.searcher:active {
	outline: none;
	background: #ffffff;
}
/*end of search box for panel of drinks*/
.navbar {
	margin-bottom: 0;
	background: #FF8105;
	font-family: 'Damion',serif;
}
.navbar-brand {
	/*font-family: 'Tangerine',serif;
	font-size: 28px;
	font-weight: bold;
	/*background: #29241E;*/
	border-radius: 50%;
	margin-left: 30px;
}

.navbar-header {
	padding-right: 100px;
}

.navbar-header img {
	height: 100%;
	width: 50%;
}
.navLinks li a {
	color: white;
	font-size: 18px;
}

.icon-bar {
	background: white;
}


.dropdown-menu {
	background: #FF8105;
	font-size: 18px;
}

.dropdown-link  {
	font-size: 18px;
}

/*caffeine agent*/

.jumboBackground {
	background: #FEF0D6 url('../images/Image 507@2x.png') no-repeat center center;
	/*-webkit-background-size: contain;
  	-moz-background-size: contain;
  	-o-background-size: contain;
  	background-size: cover;*/
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  	/*height: 400px;*/
}

.push-height {
	height: 400px;
}

.jumbotron h1 {
	color:white;
}
.jumbotron-title {
	font-family: 'Lato',serif;
	font-weight: bold;
	text-align: center;
	color: white;
}

.productDescription {
	font-family: 'Lato',serif;
	color: white;
	background: -moz-linear-gradient(top, #ff8105 0, #FFA64E 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, top, color-stop(0, FF8105), color-stop(100%, FFA64E));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FF8105 0, #FFA64E 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f0b7 0, #b57c12 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7f0b7 0, #b57c12 100%);/* IE10+ */
	background: linear-gradient(top, #FF8105 0, #FFA64E 100%);

}
.mission-title {
	text-align: center;
}
.mission {
	text-align: center;
	width: 80%;
	margin: auto;
	line-height: 150%;
	padding:20px 0 40px 0;

}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }


.options-statement {
	text-align: right;
}

.description {
	line-height: 150%;
	/*width: 90%;*/
}
.tech-left {
	text-align: left;
	color:#527DA8;
	padding: 10px 0 40px 0;
	/*width:60%;*/
}

.tech-right {
	text-align: right;
	color:#FF8C00;
	padding: 10px 0 40px 0;
	/*width:50%;*/
}
.coverImages {
	margin-top: 80px;
}


#tableContainer .drinkEngine {
	background: url('../images/glas2.png') no-repeat center;
	background-size: 70% 100%;

}
.drink-labels {
	/*color: #FFF;*/
	color:rgba(240,168,84,1.0);

	font-weight: bold;
	font-size: 1.3em;
}
.well {
    background: rgba(19, 22, 13, 0.47);
    font-weight: bolder;
    border: none;
}
.filterButton {
	background: rgba(19, 22, 13, 0.47);
	color:rgba(240,168,84,1.0);
	border: none;
	border-bottom: 2px solid rgba(240,168,84,1.0);
}
.filterButton:hover {
	color:blue;
	font-size: 1.2em;
}

.block-border{
	border: 3px solid #F0A830;
	padding: 0.2em;
}

footer {
	margin-top: 60px;
}

.caffInfoTables {
	padding-top: 20px;
	height: 400px;
}

.caffDataTable {
	height: 100%;
	overflow: auto;
}
.scrollTable {
	overflow: scroll;
}

.unEditableDrinks {
	position: relative;
}
/*styling date picker*/
.text-center {
	background: #fff;
}

.unEditableDrinks.ng-enter-stagger,
.unEditableDrinks.ng-leave-stagger, 
.unEditableDrinks.ng-leave-stagger {
 
  /* 200ms will be applied between each sucessive enter operation */ 
  -webkit-animation-delay:0.2s;
  animation-delay:0.2s;

  /* this is here to avoid accidental CSS inheritance */
  -webkit-animation-duration:0;
  /*animation-duration:0;*/
}



/*
.unEditableDrinks.ng-move,
.unEditableDrinks.ng-enter {
  opacity: 0;
  -webkit-animation:enter_animation 0.3s;
  animation:enter_animation 0.3s;
}

.unEditableDrinks.ng-leave {
  -webkit-animation:leave_animation 0.3s;
  animation:leave_animation 0.3s;
}


@-webkit-keyframes enter_animation {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes enter_animation {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes leave_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@keyframes leave_animation {
  from { opacity:1; }
  to { opacity:0; }
}*/


/*@media all and (max-width: 1200px) { /* screen size until 1200px */

    body {
        font-size: 1.5em; 
        /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) {
 /* screen size until 1000px */
    body {
        font-size: 1.2em;  1.2x default size 
        }
    }
@media all and (max-width: 500px) { 
	/* screen size until 500px */
    body {
        font-size: 1em; 

        /* 0.8x default size */
        }
    h5 {
    	font-size: 1.2em;
    }
    button {
    	font-size: 0.6em;
    	}
    }