<div ng-controller="drinkEditController">

  <div class="modal-header">
    <h1 class="drink-title">[[drink.name]]</h1>
  </div>

  <div class="modal-body">
    <form class="form-horizontal" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <div class="">
            <input type="text" ng-model="drink.name" class="form-control" placeholder="name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <div class="">
            <input type="text" class="form-control" ng-model="drink.date" placeholder="date" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="name">Caffeine Level</label>
          <div class="">
            <input type="text" class="form-control" ng-model="drink.caffeineLevel" placeholder="caffeine Level">
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok(drink._id)">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>

</div>